@font-face {
  font-family: 'GolosTextRegular';
  src: url('https://mr-danbis.github.io/arbuz-test/docs/fonts/GolosText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GolosTextRegular';
  src: url('https://mr-danbis.github.io/arbuz-test/docs/fonts/GolosText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MerriweatherRegular';
  src: url('https://mr-danbis.github.io/arbuz-test/docs/fonts/Merriweather-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'MerriweatherRegular';
  src: url('https://mr-danbis.github.io/arbuz-test/docs/fonts/Merriweather-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MerriweatherBold';
  src: url('https://mr-danbis.github.io/arbuz-test/docs/fonts/Merriweather-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MerriweatherBold';
  src: url('https://mr-danbis.github.io/arbuz-test/docs/fonts/Merriweather-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}