html,
body {
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: $mainColor;
}

.wrapper {
    padding-top: 95.5px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    color: $mainColor;
    font-family: MerriweatherBold;
    @include adaptive-font(36, 22);
    font-size: 36px;
}

.social {
    display: flex;
    align-items: center;

    &__link {
        width: 30px;
        height: 30px;
        transition: all .3s;

        &:not(:last-child) {
            margin-right: 9px;
        }

        img {
            width: 100%;
            height: 100%;
        }

        &:hover {
            transform: scale(1.2);
        }
    }
}

.link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $mainColor;
        transition: transform 0.3s ease;
        transform: scaleX(0);
        transform-origin: bottom right;
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.btn {
    display: inline-flex;
    color: rgb(255, 255, 255);
    font-family: GolosTextRegular;
    font-size: 16px;
    padding: 18px 38px;
    border-radius: 50px;
    background: linear-gradient(90.00deg, rgba(0, 72, 206, 0.4), rgba(212, 223, 248, 0.4) 100%), rgb(0, 72, 206);
    transition: all .3s;
    &:hover {
        background: rgb(0, 72, 206);
    }

    &:active {
        background: linear-gradient(90.00deg, rgba(0, 72, 206, 0), rgba(212, 223, 248, 0) 100%), rgb(0, 58, 166);
    }

    &:disabled {
        background: rgba(0, 72, 206, 0.2);
        cursor: not-allowed;
    }
}

@media (max-width: 1350px) {
    .container {
        width: 87.2%;
    }
}

@media (max-width: 400px) {
    .btn{
        padding: 15px 38px;
    }
}

@media (max-width: 360px) {
    .btn{
        padding: 15px 20px;
    }
}