.screen {
    @include adaptive-paddingBottom(46, 20);

    &__wrapper {
        padding: 86px 100px 80px 100px;
        background-image: url(https://mr-danbis.github.io/arbuz-test/docs/images/screen.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 16px;
    }

    &__info {
        @include adaptive-marginBottom(74, 24);
    }

    &__title {
        width: 654px;
        color: rgb(255, 255, 255);
        font-family: MerriweatherRegular;
        @include adaptive-font(42, 28);
        line-height: 50px;
        @include adaptive-marginBottom(24, 17);
    }

    &__text {
        width: 560px;
        color: rgb(255, 255, 255);
        font-family: GolosTextRegular;
        @include adaptive-font(16, 15);
        line-height: 24px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__btn {
        margin-right: 50px;

        img {
            margin-left: 20px;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--mobile{
            display: none;
        }
    }

    &__connect {
        display: flex;
        align-items: center;
    }

    &__social {
        display: flex;
        align-items: center;
    }

    &__link {
        transition: all .3s;
        height: 24px;
        width: 24px;

        img {
            width: 100%;
            height: 100%;
        }

        &:not(:last-child) {
            margin-right: 13px;
        }

        &:hover {
            transform: scale(1.2);
        }
    }

    &__name {
        color: rgb(255, 255, 255);
        font-family: MerriweatherRegular;
        font-size: 20px;
        margin-bottom: 6px;
    }

    &__position {
        color: rgb(255, 255, 255);
        font-family: GolosTextRegular;
        font-size: 15px;
    }
}

@media (max-width: 1000px) {
    .screen {
        &__wrapper {
            padding: 40px 24px;
        }

        &__title,
        &__text {
            width: 70%;
        }
    }
}

@media (max-width: 750px) {
    .screen {
        .container{
            width: 100%;
        }
        &__wrapper {
            background-image: url(https://mr-danbis.github.io/arbuz-test/docs/images/screen-mobile.svg);
            background-position-y: -600px;
        }

        &__title, &__text{
            width: 100%;
        }

        &__title{
            line-height: 34px;
        }

        &__text{
            line-height: 22px;
        }

        &__bottom{
            &--desctop{
                width: 100%;
                display: block;
                margin-bottom: 375px;
                .screen{
                    &__social, &__person{
                        display: none;
                    }
                    &__connect{
                        width: 100%;
                        display: block;
                    }
                    &__btn{
                        margin-right: 0;
                        width: 100%;
                        justify-content: center;
                    }
                }
            }

            &--mobile{
                display: flex;
            }
        }
    }
}

@media (max-width: 650px) {
    .screen{
        &__wrapper{
            background-position-y: -500px;
        }
    }
}

@media (max-width: 600px) {
    .screen{
        &__wrapper{
            background-position-y: -400px;
        }
    }
}

@media (max-width: 550px) {
    .screen{
        &__wrapper{
            background-position-y: center;
        }
    }
}