.header {
    z-index: 5;
    padding: 25px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    transition: all .3s;

    &--fixed {
        padding: 10px 0;
        position: fixed;
        box-shadow: 0px 12px 10px -4px rgba(34, 60, 80, 0.2);
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        width: 46.3%;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        position: relative;

        &-sublist {
            &::after {
                transition: all .5s;
                position: absolute;
                content: url(https://mr-danbis.github.io/arbuz-test/docs/images/icons/arrow.svg);
                right: -15px;
            }

            &:hover {
                &::after {
                    top: 4px;
                    transform: rotate(180deg);
                }

                .header {
                    &__sublist {
                        display: block;
                    }
                }
            }
        }
    }

    &__link {
        color: $mainColor;
        font-family: GolosTextRegular;
        font-size: 16px;
    }

    &__sublist {
        display: none;
        position: absolute;
        background-color: #fff;
        padding: 15px !important;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }

    &__subitem {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__sublink {
        color: $mainColor;
        font-family: GolosTextRegular;
        font-size: 16px;
    }

    &__contact {
        width: 24%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__phone {
        font-family: GolosTextRegular;
        color: $mainColor;
        font-size: 16px;
    }

    &__lang {
        &-btn {
            font-family: GolosTextRegular;
            color: $mainColor;
            font-size: 16px;
            text-decoration: underline;

            &--active {
                display: none;
            }
        }
    }

    &__burger {
        width: 30px;
        height: 19px;
        display: none;
        flex-direction: column;
        justify-content: space-between;

        div {
            transition: all .3s;
            width: 100%;
            height: 1px;
            background-color: $mainColor;
        }

        &--open {
            div {
                position: absolute;
                width: 30px;
                height: 1px;
                background-color: $mainColor;

                &:first-child {
                    transform: rotate(45deg);
                    top: 50%;
                }

                &:nth-child(2) {
                    display: none;
                }

                &:last-child {
                    transform: rotate(-45deg);
                    top: 50%;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .header {
        &__nav {
            width: 46%;
        }

        &__contact {
            width: 30%;
        }
    }
}

@media (max-width: 900px) {
    .header {
        &__nav {
            display: none;
        }

        .social {
            display: none;
        }

        &__phone {
            display: none;
        }

        &__contact {
            width: auto;
        }

        &__burger {
            display: flex;
        }

        &__lang {
            margin-right: 35px;
        }
    }
}